<!doctype html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sysmei</title>
    <!-- CSS here -->
    <link rel="stylesheet" href="landing-page.component.scss" />
  </head>
  <body>
    <header>
      <!-- Menu Principal -->
      <section>
        <nav class="main-menu">
          <li><a href="index.html">Início</a></li>
          <li><a href="#sobre">Sobre Nós</a></li>
          <li><a href="#serviços">Serviços</a></li>
          <li><a href="#contato">Contato</a></li>
        </nav>
      </section>
    </header>
    <div class="container">
      <div class="card">
        <!-- Inicío nav bar com carroussel -->
      </div>
    </div>
    <!-- Inicio Footer -->
    <h4>Empresa</h4>
    <div>
      <ul>
        <li><a href="index.html#sobre">Sobre nós</a></li>
        <li><a href="index.html#serviços">Serviços</a></li>
        <li><a href="index.html#cotação">Contato</a></li>
      </ul>
    </div>
  </body>
</html>
